@use './components/navBar';
@use './components/Doughnut.scss';
@use './components/header.scss';
@use './components/buttons.scss';
@use './components/card.scss';
@use './components/sections.scss';
@use './components/footer.scss';
@use './pages/nosotros.scss';
@use './pages/services.scss';
@use './pages/blogLayout.scss';





* {
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
    border: 0;
}