.horario-container {
  text-align: center;
  padding: 1.5rem;
  background-color: var(--color-box);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.horarios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  margin-top: 25px;
}

.horario-card {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s, transform 0.2s;
  text-align: center;
  user-select: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.horario-card:hover {
  background-color: var(--color-secondary);
  transform: scale(1.05);
}

.horario-card.selected {
  background-color: #4CAF50;
  color: white;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .horarios-grid {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr)); /* Reduce el tamaño mínimo */
  }

  .horario-card {
    font-size: 0.9rem; /* Reduce el tamaño de la fuente */
    padding: 10px;
  }

  .horario-container {
    padding: 1rem; /* Reduce el padding en pantallas pequeñas */
  }

  /* Ajustes para el calendario */
  .calendar-container {
    max-width: 95%; /* Ajusta el ancho máximo en pantallas pequeñas */
    margin: auto;
  }
}
