@charset "UTF-8";
.navbar {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-menu {
  display: none; /* Ocultar en dispositivos de escritorio */
  cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links .navbar-item {
  margin: 0 15px;
}

.navbar-links .navbar-item a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-links .navbar-item a:hover,
.navbar-links .navbar-item a:focus {
  color: #fff;
  background-color: #000;
}

/* Estilos del Submenú */
.navbar-item {
  position: relative; /* Posicionamiento para submenú */
}

.submenu {
  display: none;
  position: absolute;
  left: 0;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 0;
}

.submenu li {
  padding: 0; /* Ajusta según necesidad */
}

.submenu li a {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.navbar-item:hover .submenu,
.navbar-item:focus-within .submenu {
  display: block; /* Muestra el submenú al pasar el ratón */
}

.submenu li a:hover {
  background-color: #f8f8f8;
}

/* Estilos Responsivos para Dispositivos Móviles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .navbar-menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .navbar-links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links.mobile-active {
    display: flex;
  }
  .navbar-links .navbar-item {
    width: 100%;
    margin: 5px 0;
  }
  .navbar-links .navbar-item a {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .submenu {
    position: static; /* Ajuste para dispositivos móviles */
    box-shadow: none;
    border-radius: 0;
  }
}
.header {
  background-color: #000;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  width: 25fr; /* O el tamaño que prefieras para tu logo */
  margin-bottom: 20px;
}

.text-container {
  text-align: start;
  margin-right: 10rem; /* Considerar ajustar este margen para dispositivos más pequeños */
  display: flex; /* Habilita flexbox para este contenedor */
  flex-direction: column; /* Organiza los elementos en una columna */
  align-items: center;
}

.header-title {
  font-size: 2rem;
  color: aliceblue;
  margin: 0;
}

.header-subtitle-h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: aliceblue;
  margin: 0;
}

.header-subtitle-h3 {
  margin-top: 2rem;
  font-size: 1rem;
  color: grey;
  margin: 0;
}

/* Ajuste para responsividad */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
  }
  .header-logo {
    order: -1; /* Coloca el logo arriba */
    width: 50%; /* Ajusta el tamaño del logo para pantallas pequeñas */
    margin-bottom: 10px; /* Reduce el margen */
  }
  .text-container {
    margin-right: 0;
  }
  .header-title, .header-subtitle-h2 {
    font-size: 1.2rem; /* Reduce el tamaño del texto para dispositivos más pequeños */
    text-align: center; /* Asegura que el texto esté centrado bajo el logo */
  }
}
@media (max-width: 480px) {
  .header-logo {
    width: 60%; /* Ajusta el tamaño para dispositivos muy pequeños */
  }
  .header-title, .header-subtitle-h2 {
    font-size: 1rem; /* Ajuste adicional para pantallas muy pequeñas */
  }
}
.header-b {
  width: 100%;
  background-color: #007bff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-w {
  width: 100%;
  background-color: aliceblue;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content-w {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Cambiado para separar el texto y el logo */
}

.header-logo-w {
  width: 20%; /* O el tamaño que prefieras para tu logo */
  margin-left: 20px; /* Ajusta según sea necesario para alinear */
  order: 2; /* Asegura que el logo esté al final en pantallas grandes */
}

.text-container-w {
  text-align: start;
  margin-right: 10rem;
  order: 1; /* Asegura que el texto esté al principio */
  flex: 1; /* Permite que el contenedor de texto ocupe todo el espacio disponible */
}

.header-title-w, .header-subtitle-h2-w, .header-subtitle-h3-w {
  color: black;
  margin: 0;
}

.header-title-w {
  font-size: 2rem;
}

.header-subtitle-h2-w, .header-subtitle-h3-w {
  margin-top: 2rem;
}

.header-subtitle-h2-w {
  font-size: 1.5rem;
}

.header-subtitle-h3-w {
  font-size: 1rem;
  color: grey;
}

/* Ajustes para responsividad */
@media (max-width: 768px) {
  .header-content-w {
    flex-direction: column-reverse; /* Cambia el orden: logo arriba, texto abajo */
    text-align: center;
  }
  .text-container-w, .header-logo-w {
    margin-right: 0;
    margin-left: 0; /* Elimina los márgenes laterales para centrar en pantallas pequeñas */
  }
  .header-logo-w {
    width: 50%; /* Ajusta el tamaño del logo para pantallas más pequeñas */
    margin-bottom: 20px; /* Espacio entre el logo y el texto */
  }
  .header-title-w, .header-subtitle-h2-w, .header-subtitle-h3-w {
    text-align: center; /* Centra el texto en pantallas pequeñas */
  }
}
.contact-header {
  background-color: #ffffff; /* Fondo blanco */
  color: #333; /* Texto oscuro para contraste */
  padding: 60px 20px; /* Aumenta el padding vertical para más altura */
  text-align: center; /* Centrar el contenido */
  border-bottom: 2px solid #eaeaea; /* Línea sutil en la parte inferior, más gruesa */
}

.contact-container h1, .contact-info p, .social-icons a {
  margin-bottom: 30px; /* Espacio debajo de cada sección */
}

.contact-container h1 {
  font-size: 30px; /* Título más grande */
}

.contact-info, .social-icons {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  gap: 40px; /* Espacio entre elementos */
}

.contact-info p, .social-icons a {
  font-size: 20px; /* Tamaño para contacto y íconos */
  display: flex;
  align-items: center; /* Alineación vertical */
}

.contact-info i, .social-icons i {
  margin-right: 12px; /* Espacio antes del texto/ícono */
  font-size: 24px; /* Íconos más grandes */
}

.social-icons a {
  color: #333; /* Color de íconos */
  text-decoration: none; /* Sin subrayado */
}

.social-icons a:hover {
  color: #007bff; /* Color al pasar el ratón */
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .contact-header {
    padding: 30px 10px; /* Reduce el padding en pantallas pequeñas */
  }
  .contact-container h1 {
    font-size: 24px; /* Reduce el tamaño del título para pantallas pequeñas */
  }
  .contact-info {
    flex-direction: column; /* Cambia la disposición a columna en pantallas pequeñas */
    gap: 20px; /* Reduce el espacio entre elementos */
  }
  .contact-info p {
    font-size: 18px; /* Ajusta el tamaño del texto para mejorar la legibilidad */
  }
  .contact-info i {
    font-size: 22px; /* Ajusta ligeramente el tamaño de los íconos */
  }
}
/* Si has descomentado y deseas incluir los estilos de .social-icons, asegúrate de adaptarlos de manera similar */
@media (max-width: 768px) {
  .social-icons {
    gap: 20px; /* Ajusta el espacio entre los íconos */
  }
  .social-icons a {
    font-size: 18px; /* Ajusta el tamaño de los íconos para dispositivos móviles */
  }
}
.header-button {
  margin-top: 1rem;
  max-width: 120px; /* Limita el ancho máximo del botón */
  width: auto; /* O puedes establecer un ancho específico */
  display: block; /* O 'inline-block' si quieres que el botón no tome todo el ancho disponible */
  padding: 5px 15px; /* Reducido para un botón más compacto */
  font-size: 14px; /* Tamaño de fuente ligeramente menor */
  font-weight: 600; /* Peso de fuente semibold para preservar la legibilidad */
  color: #ffffff; /* Color de texto blanco para alto contraste */
  background-color: transparent; /* Fondo transparente para un look minimalista */
  border: 2px solid #ffffff; /* Borde blanco para una definición clara */
  border-radius: 20px; /* Bordes redondeados para suavidad, ajustado para el tamaño del botón */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-button:hover {
  background-color: #ffffff; /* Fondo blanco al pasar el mouse para inversión de color */
  color: #000000; /* Texto negro para mantener el contraste */
}

.header-button:active {
  background-color: #e6e6e6; /* Un gris claro al clickear para indicar acción */
  color: #000000;
}

/* Estilos globales */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: #333;
}

/* Estilos de la página de inicio */

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  min-height: 100vh;
}

.homepage-header {
  text-align: center;
  margin-bottom: 40px;
}

.homepage-header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #4a90e2;
}

.homepage-header p {
  font-size: 1.2rem;
  color: #777;
}

/* Estilos para el dashboard */

.dashboard {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* Mantener horizontal en pantallas grandes */
}

.dashboard h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  color: #4a90e2;
}

/* Estilos para el gráfico */

.chart-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.chart-container canvas {
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 768px) {
  .chart-container {
      max-width: 90%;
  }

  .dashboard {
      padding: 20px;
  }

  .dashboard h2 {
      font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .dashboard {
      flex-direction: column; /* Cambia a display block para pantallas pequeñas */
      padding: 10px;
  }

  .chart-container {
      max-width: 100%;
      padding: 0;
  }

  .dashboard h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
  }
}


.appleButton {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.appleButton:hover {
  background-color: #0056b3;
}

.minimalist-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto;
  width: 300px; /* O ajusta según tus necesidades */
}

.card-image {
  width: 10rem;
}

.card-text {
  padding: 20px;
}

.card-title {
  margin-top: 0;
  color: #333;
  font-size: 24px;
}

.card-content {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

.cards-container {
  display: flex;
}

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column; /* Cambia las tarjetas a una disposición de columna en pantallas pequeñas */
    align-items: center; /* Asegura que las tarjetas estén centradas */
  }
  .minimalist-card {
    width: 90%; /* Aumenta el ancho de las tarjetas para aprovechar más espacio */
    margin: 20px 0; /* Ajusta el margen para dispositivos móviles */
  }
}
.blogCard {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
}

.blogCardTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.blogCardCategory {
  font-size: 18px;
  color: #6e6e73;
  font-style: italic;
  margin: 0;
}

.blogCardInfo {
  font-size: 16px;
  color: #999;
  margin-top: 15px;
}

.Section-Container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Esto alinea los elementos a la derecha */
  height: 100%;
  width: 100%; /* Asegura que el contenedor se expanda al ancho total disponible */
  border-bottom: 2px solid black;
}

/* Nuevo contenedor para el h2 para alinearlo a la derecha */
.H2-Container {
  color: aliceblue;
  width: 100%; /* Ajustado para ocupar todo el ancho y no limitarlo al 25% */
  display: flex; /* Asegúrate de usar display: flex para aplicar justify-content */
  justify-content: flex-end; /* Esto alineará el contenido a la derecha */
  padding-right: 10px;
}

.Logos-Container {
  background-color: aliceblue;
  display: flex;
  justify-content: space-around; /* Mantiene los logos distribuidos equitativamente */
  width: 100%; /* Asegura que los logos usen todo el ancho disponible */
}

.section-logo {
  width: 5rem; /* Asegúrate de que el tamaño de los logos sea consistente */
  /* Si necesitas que .world-logo tenga un tamaño diferente, ajusta esta clase por separado */
}

.world-logo {
  width: 7rem;
}

.minimal-footer {
  background-color: #fff; /* Fondo blanco para un look limpio */
  color: #333; /* Texto oscuro para contraste */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px 0; /* Reducido para menos altura */
  text-align: center;
  border-top: 1px solid #eaeaea; /* Una línea sutil para separar el footer */
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  margin-top: 5px; /* Menos espacio arriba */
}

.footer-links a {
  color: #333;
  text-decoration: none;
  margin: 0 10px; /* Espaciado horizontal ligeramente reducido entre enlaces */
  font-size: 14px; /* Tamaño de fuente reducido para menos altura */
}

.footer-links a:hover {
  text-decoration: underline; /* Subraya los enlaces al pasar el mouse para mejorar la interactividad */
}

.text-container-nosotros {
  text-align: start;
  width: 50%;
  padding: 20px; /* Añade algo de relleno para no tener el texto pegado a los bordes */
}

.text-container-nosotros h1 {
  font-size: 2em; /* Tamaño de fuente grande para el encabezado */
  color: #1d1d1f; /* Un negro casi completo, para darle importancia al título */
  margin-bottom: 0.5em; /* Reduce el margen inferior para acercar el título al párrafo */
}

.text-container-nosotros p {
  text-align: left;
  font-size: 1em; /* Mantén el tamaño de fuente del párrafo a un nivel legible pero no demasiado grande */
  color: #6e6e73; /* Un gris más claro para el texto del párrafo, mejora la legibilidad */
  line-height: 1.6; /* Aumenta el interlineado para mejorar la legibilidad */
}

.header-nosotros {
  width: 100%;
  background-color: #f8f8f7; /* Usa el mismo color de fondo que el cuerpo para un diseño cohesivo */
  padding: 40px 20px; /* Aumenta el relleno para dar más espacio */
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hace la sombra un poco más prominente para darle profundidad */
}

.header-content-nosotros {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Cambia a 'space-between' para distribuir el espacio igualmente */
  max-width: 1200px; /* Limita el ancho máximo para no tener líneas de texto demasiado largas */
  margin: auto; /* Centra el contenido */
}

.header-logo-nosotros {
  /* Elimina el width auto para controlar el tamaño directamente */
  height: auto; /* Cambia a auto para mantener la proporción según el ancho especificado */
  max-width: 200px; /* Establece un ancho máximo más grande */
  max-height: 150px; /* Establece una altura máxima para controlar el tamaño y mantener la proporción */
  margin: 0 20px; /* Mantén los márgenes para un adecuado espaciado */
}

/* Opcional: Si quieres que uno de los logos sea más grande que el otro, puedes especificar tamaños diferentes */
@keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-logo-world {
  height: auto; /* Cambia a auto para mantener la proporción según el ancho especificado */
  max-width: 200px; /* Establece un ancho máximo más grande */
  max-height: 150px; /* Establece una altura máxima para controlar el tamaño y mantener la proporción */
  margin: 0 20px; /* Mantén los márgenes para un adecuado espaciado */
  animation: rotateLogo 10s linear infinite;
}

@media (max-width: 768px) {
  .header-logo-nosotros, .header-logo-world {
    display: none; /* Oculta las imágenes en pantallas pequeñas */
  }
  .text-container-nosotros {
    width: 100%; /* Permite que el contenedor de texto ocupe todo el ancho disponible */
    padding: 20px; /* Mantiene el relleno para el texto */
  }
  .header-content-nosotros {
    flex-direction: column; /* Cambia la disposición a vertical */
    text-align: center; /* Asegura que el texto esté centrado */
  }
}
.servicesPage {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 60px 20px;
  background-color: #f8f9fa; /* Cambiar el color de fondo */
}

.heroSection h1 {
  font-size: 2.5rem; /* Aumentar el tamaño del título */
  color: #1d1d1f;
}

.heroSection p {
  font-size: 1.1rem; /* Aumentar el tamaño del texto */
  color: #6e6e73;
  max-width: 800px;
  margin: 20px auto;
  text-align: center; /* Centrar el texto */
}

.servicesSection {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.serviceCard {
  width: 350px; /* Aumenta el ancho de las tarjetas */
  min-height: 400px;
  height: auto; /* Permite que la altura se ajuste al contenido */
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye el contenido verticalmente */
}

.serviceCard:hover {
  transform: scale(1.1); /* Desplazar ligeramente hacia arriba al pasar el cursor */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Aumentar la sombra */
}

.serviceIcon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  display: block; /* Asegurar que el icono esté centrado verticalmente */
  margin: 0 auto 20px; /* Centrar el icono horizontalmente */
}

.serviceCard h3 {
  margin-top: 0;
  font-size: 1.5rem; /* Aumentar el tamaño del título */
  color: #1d1d1f;
}

.serviceCard p {
  font-size: 1rem; /* Aumentar el tamaño del texto */
  color: #6e6e73;
  line-height: 1.5; /* Ajustar el interlineado */
}

/* Agregando media query para ajustar la imagen en pantallas pequeñas */
@media (max-width: 768px) {
  .servicesSection {
    flex-direction: column; /* Cambia a columna para apilamiento vertical */
  }
  .serviceCard {
    width: 100%; /* Ocupa todo el ancho disponible */
    /* Opcional: Si quieres que la primera tarjeta sea diferente */
    /* Esto no afecta el tamaño, solo como una referencia para posibles estilos específicos */
  }
  .serviceCard:first-child {
    min-height: 100vh; /* Hace que la primera tarjeta ocupe toda la altura de la pantalla */
  }
  .serviceIcon {
    width: 100%; /* Hace que la imagen ocupe todo el ancho disponible */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  }
}
.investigacion-page {
  background-color: #f8f9fa; /* Color de fondo similar al de Apple */
}

.header-investigacion {
  background-color: #ffffff; /* Fondo blanco */
  padding: 20px;
  text-align: center; /* Centrar contenido */
}

.header-logo-investigacion {
  max-width: 100%; /* Ancho máximo */
  height: auto; /* Altura automática para mantener la proporción */
  display: block; /* Para centrar horizontalmente */
  margin: 0 auto 20px; /* Centrar horizontalmente y agregar margen inferior */
}

.intro-section,
.opensource-section {
  padding: 50px 20px; /* Espaciado interior */
  text-align: center; /* Centrar texto */
}

.intro-content,
.opensource-content {
  max-width: 800px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centrar horizontalmente */
}

.intro-content h2,
.opensource-content h2 {
  font-size: 2.5rem; /* Tamaño de título */
  color: #333333; /* Color de texto */
}

.intro-content p,
.opensource-content p {
  font-size: 1.2rem; /* Tamaño de texto */
  color: #666666; /* Color de texto secundario */
  line-height: 1.6; /* Altura de línea */
}

.footer {
  background-color: #ffffff; /* Fondo blanco */
  padding: 20px;
  text-align: center; /* Centrar texto */
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.footer-content {
  color: #666666; /* Color de texto secundario */
}

.middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet-image {
  max-width: 200px; /* Ajusta el ancho máximo de la imagen según sea necesario */
  height: auto; /* Para mantener la proporción de la imagen */
}

.blogPage {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  padding: 48px;
  max-width: 1000px;
  margin: auto;
}

.blogPageTitle {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
}

.blogPost {
  margin-bottom: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaeaea; /* Añade una línea sutil para separar los posts */
}

.blogPostHeader {
  margin-bottom: 20px;
}

.blogPostCategory {
  color: #6e6e73;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.05em; /* Añade espaciado entre letras para la categoría */
}

.blogPostTitle {
  font-size: 28px;
  margin: 10px 0 20px;
  font-weight: bold;
}

.blogPostContent p {
  font-size: 18px; /* Aumenta el tamaño del texto para mejorar la legibilidad */
  margin: 0;
}

@media (max-width: 768px) {
  .blogPage {
    padding: 24px;
  }
  .blogPageTitle {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .blogPostTitle {
    font-size: 24px;
  }
  .blogPostContent p {
    font-size: 16px;
  }
}
.blogPostMeta {
  font-size: 0.9rem;
  color: #6e6e73;
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Estilos de la página de login */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.login-container {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #4a90e2;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1rem;
}

.login-container button:hover {
  background-color: #357abd;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 480px) {
  .login-container {
      padding: 20px;
  }

  .login-container h2 {
      font-size: 1.5rem;
  }

  .login-container button {
      font-size: 0.9rem;
      padding: 8px;
  }
}

/*register*/
/* Contenedor de la página de registro */
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

/* Formulario de registro */
.register-form {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.register-form h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5rem;
  text-align: center;
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

.register-form input:focus {
  border-color: #4a90e2;
  outline: none;
}

.register-form button {
  width: 100%;
  padding: 10px;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.register-form button:hover {
  background-color: #357abd;
}

/* Estilos Responsivos */
@media (max-width: 480px) {
  .register-form {
      padding: 30px;
  }

  .register-form h2 {
      font-size: 1.25rem;
  }
}

.register-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: #fff;
}

.register-form select:focus {
  border-color: #4a90e2;
  outline: none;
}

/*admin card
*/
.usersMainPage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.pageTitle {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
  text-align: center;
}
.userList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Distribuye las tarjetas en columnas */
  gap: 20px; /* Espacio entre las tarjetas */
}

/* Estilo para la tarjeta de usuario */
.userCard {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  text-align: center;
}

.userCard:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.userCardName {
  font-size: 1.5rem;
  color: #1d1d1f;
  margin-bottom: 10px;
}

.userCardEmail, .userCardCurp {
  font-size: 1rem;
  color: #6e6e73;
  margin-bottom: 10px;
}

.userCardActions {
  margin-top: 20px;
}

.userCardButton {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #007aff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.userCardButton:hover {
  background-color: #005bb5;
}

/* Estilo cuando no hay usuarios */
.noUsers {
  font-size: 1.2rem;
  color: #999;
  text-align: center;
}

/*FilterNav*/
/* Contenedor de filtros */
.filterNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  max-width: 1000px;
  margin: 0 auto;
}

/* Cada filtro individual */
.filterItem {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.filterItem label {
  font-size: 0.9rem;
  margin-bottom: 8px;
  color: #333;
  font-weight: 500;
}

/* Estilo para el input y select */
.filterItem input,
.filterItem select {
  padding: 12px 15px;
  font-size: 1rem;
  border: 1px solid #d1d1d6;
  border-radius: 10px;
  background-color: #f2f2f7;
  transition: border-color 0.3s ease;
  outline: none;
  width: 250px;
  font-family: inherit;
  color: #333;
}

.filterItem input::placeholder {
  color: #888;
}

.filterItem input:focus,
.filterItem select:focus {
  border-color: #007aff;
  background-color: #ffffff;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .filterNav {
      flex-direction: column;
      align-items: flex-start;
  }

  .filterItem {
      margin-right: 0;
      margin-bottom: 20px;
  }

  .filterItem input,
  .filterItem select {
      width: 100%;
  }
}

.filters{
  margin-bottom: 20px; /* Agrega un margen debajo de los filtros */

}

/*Menu Card */
.appleCard {
  width: 320px;
  min-height: 180px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.appleCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.appleCardTitle {
  margin: 0;
  font-size: 1.8rem;
  color: #333333;
  font-weight: 600;
}

.appleCardSubtitle {
  font-size: 1.1rem;
  color: #777;
  margin: 10px 0; /* Añadir espacio debajo del título */
}

.appleCardCounter {
  font-size: 1.4rem;
  color: #555555;
}

.appleCardActions {
  margin-top: 15px;
}

.appleCardButton {
  padding: 10px 20px;
  background-color: #007aff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 500;
}

.appleCardButton:hover {
  background-color: #005bb5;
}

@media (max-width: 768px) {
  .appleCard {
    width: 100%;
    padding: 20px;
  }
}

.controlMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

@media (max-width: 768px) {
  .controlMenuContainer {
    flex-direction: column;
    align-items: stretch;
  }
}

/*update page */
/* Estilo general para la página */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f5f5f7;
  color: #1d1d1f;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #1d1d1f;
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  color: #6e6e73;
  text-align: center;
  margin-bottom: 30px;
}

/* Estilo para el formulario */
.update-form {
  background-color: #fff;
  padding: 40px;
  margin: 50px auto;
  border-radius: 12px;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.update-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #d2d2d7;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f5f5f7;
  color: #1d1d1f;
  outline: none;
  transition: border-color 0.2s;
}

.update-form input:focus {
  border-color: #0071e3;
}

.update-form button {
  background-color: #0071e3;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-form button:hover {
  background-color: #005bb5;
}

/* Estilo para la tarjeta de confirmación de SuperUsuario */
.admin-confirmation-card {
  background-color: #f9f9fb;
  border: 1px solid #e5e5ea;
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
  max-width: 450px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.admin-confirmation-card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1d1d1f;
  margin-bottom: 20px;
}

.admin-confirmation-card input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d2d2d7;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 16px;
}

.admin-confirmation-card button {
  background-color: #0071e3;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 8px;
  width: 48%;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-confirmation-card button:hover {
  background-color: #005bb5;
}

/* Estilo para la página general */
.update-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* button */
/* Contenedor del botón de agregar */
.addButtonContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

/* Botón de agregar (círculo con signo de +) */
.addButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #0056b3;
}

/* Menú desplegable que aparece al presionar el botón de agregar */
.addMenu {
  position: absolute;
  bottom: 80px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 200px;
  z-index: 11;
}

.addMenuItem {
  background: none;
  border: none;
  padding: 10px;
  text-align: left;
  width: 100%;
  font-size: 16px;
  color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addMenuItem:hover {
  background-color: #f8f9fa;
}


.input-error {
  border-color: red;
}

.error-text {
  color: red;
  font-size: 0.875em;
  margin-top: 4px;
}
/*# sourceMappingURL=index.css.map */
