.header-button {
    margin-top: 1rem;
    max-width: 120px; /* Limita el ancho máximo del botón */
    width: auto; /* O puedes establecer un ancho específico */
    display: block; /* O 'inline-block' si quieres que el botón no tome todo el ancho disponible */
    padding: 5px 15px; /* Reducido para un botón más compacto */
    font-size: 14px; /* Tamaño de fuente ligeramente menor */
    font-weight: 600; /* Peso de fuente semibold para preservar la legibilidad */
    color: #ffffff; /* Color de texto blanco para alto contraste */
    background-color: transparent; /* Fondo transparente para un look minimalista */
    border: 2px solid #ffffff; /* Borde blanco para una definición clara */
    border-radius: 20px; /* Bordes redondeados para suavidad, ajustado para el tamaño del botón */
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .header-button:hover {
    background-color: #ffffff; /* Fondo blanco al pasar el mouse para inversión de color */
    color: #000000; /* Texto negro para mantener el contraste */
  }
  
  .header-button:active {
    background-color: #e6e6e6; /* Un gris claro al clickear para indicar acción */
    color: #000000;
  }
  
  .appleButton {
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;


  
}

.appleButton:hover {
    background-color: #0056b3;
}