  .minimalist-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;
    width: 300px; /* O ajusta según tus necesidades */
  }
  
  .card-image {
    width: 10rem;
  }
  
  .card-text {
    padding: 20px;
  }
  
  .card-title {
    margin-top: 0;
    color: #333;
    font-size: 24px;
  }
  
  .card-content {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
  }

  .cards-container{
    display: flex;
  }
  
  @media (max-width: 768px) {
  .cards-container {
    flex-direction: column; /* Cambia las tarjetas a una disposición de columna en pantallas pequeñas */
    align-items: center; /* Asegura que las tarjetas estén centradas */
  }
  
  .minimalist-card {
    width: 90%; /* Aumenta el ancho de las tarjetas para aprovechar más espacio */
    margin: 20px 0; /* Ajusta el margen para dispositivos móviles */
  }
}
// BLOG CARD
.blogCard {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
}

.blogCardTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.blogCardCategory {
  font-size: 18px;
  color: #6e6e73;
  font-style: italic;
  margin: 0;
}

.blogCardInfo {
  font-size: 16px;
  color: #999;
  margin-top: 15px;
}