.chart-container{
    width: 100%;
    max-width: 800px; // Incrementa el tamaño máximo para pantallas grandes
    margin: 0 auto; // Centra el gráfico

    @media (max-width: 768px) {
        max-width: 90%; // Permite que ocupe más espacio en tablets
    }

    @media (max-width: 480px) {
        max-width: 100%; // Toma todo el ancho en móviles
        padding: 0 20px; // Aumenta un poco el padding lateral para asegurar espacio suficiente
    }

    canvas {
        width: 100% !important; // Asegura que el canvas sea responsivo
        height: auto !important; // Mantiene la proporción del gráfico
    }
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;  // Ocupa la mitad del ancho de la pantalla
    height: 50vh; // Ocupa la mitad de la altura de la pantalla
    margin: 0 auto; // Centrar el contenedor horizontalmente
    padding: 20px; // Agregar un poco de padding para evitar que el contenido se pegue a los bordes
    box-sizing: border-box; // Asegurar que el padding se incluya dentro del tamaño del contenedor

    @media (max-width: 768px) {
        width: 100vw; // Ocupa todo el ancho de la pantalla en dispositivos pequeños
        height: 50vh; // Sigue ocupando la mitad de la altura
        padding: 10px; // Ajusta el padding para pantallas pequeñas
    }
}